.about__row , .team__row { 
    height: 300px;
    margin-top: 5px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px #FF0000;
    margin: 10px;
    padding: 10px;
}
.team__lead{
    display: block;
    text-align: center;
}